* text=auto

# Mark all docs and sub-docs in any folder as generated
**/doc/** linguist-generated=true
**/docs/** linguist-generated=true

# (Optional) Mark individual file types as generated globally
*.html linguist-generated=true
*.css linguist-generated=true
*.js linguist-generated=true
