body {
	background: url("../assets//img//nice\ picture.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	text-align: center;
	color: white;
	font-family: "Avenir", sans-serif;
}
h1 {
	font-size: 75px;
}
h2 {
	font-size: 40px;
}

p {
	color: white;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}

.container-fluid {
	height: 200px;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.fa {
	color: white;
	margin: 10px 5px;
	font-size: 3em !important;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
