.projectCard {
	background-color: #fff8f5;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 1.5rem;
	transition: box-shadow 0.3s ease;
}

.projectCard:hover {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.projectCard h3 {
	margin-top: 0;
	font-size: 24px;
}

.projectCard p {
	color: black;
	font-size: 16px;
}

.projectCard a {
	display: inline-block;
	margin-top: 1rem;
	text-decoration: none;
	color: #cc8f7f;
	font-weight: 500;
	font-size: 16px;
}

.projectH1 {
	text-align: center;
	margin-bottom: 2rem;
}

.homeMain {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem;
}

.homeHeading {
	font-size: 2.8rem;
	font-weight: 700;
}

.homeDescription {
	font-size: 1.25rem;
	max-width: 700px;
	margin: 1rem auto 2rem;
	color: #555;
}
main p {
	font-size: 1.25rem;
	max-width: 700px;
	margin: 1rem auto 2rem;
	color: #555;
}
.ctaButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
}

.section-divider {
	border-top: 4px solid #cc8f7f !important; /* Secondary color */
	width: 80% !important;
	margin: 2rem auto !important;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
